<%- include("../includes/header.ejs", {title: "Update " + genre.genre}); %>

<h1>Update <%= genre.genre%> </h1>
<form action="/genres/update" method="get">
    <input type="hidden" id="genre_id" name="genre_id" value="<%= genre.genre_id %>">
    Genre: <input id="genre" name="genre" type="text" value="<%= genre.genre%>"/>
    <br />
    <br />
    <input type="submit" onClick="window.alert('Genre updated!')"/>
    <br />
    <br />
    <a href="/genres/all"><< back<br></a>
    <a href="/"><< home<br></a>

</form>


<%- include("../includes/footer.ejs"); %>

</html>