<%- include("../includes/header.ejs", {title:"Genres - View All"}); %>

<h1>Genres</h1>
        <a href="/genres/add">Add New Genre</a> <br />

        <br />

        <table border="1">
            <tr><th>Genre</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/genres/?genre_id=<%= result[i].genre_id %>"><%= result[i].genre %></a></td>
                <td>
                    <button onclick="event.preventDefault();window.location.href='/genres/edit/?genre_id=<%= result[i].genre_id %>'">Edit</button>
                    <form action="/genres/delete/" style="display:inline;">
                        <input type="hidden" name="genre_id" id="genre_id" value="<%= result[i].genre_id %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>
    <br />
    <br />
    <a href="/"><< home<br></a>
<%- include("../includes/footer.ejs"); %>