<%- include("../includes/header.ejs", {title:"Genre - " + result[0].genre}); %>
    <h1><%= result[0].genre%></h1>

<br />

<table border="1">
    <tr><th>Movies In Genre</th><th>Release Year</th></tr>
    <% for(var i=0; movie.length > i; i++ ) { %>
    <tr>
        <td><%= movie[i].movie_id %><%= movie[i].title %></td>
        <td><%= movie[i].movie_id %><%= movie[i].release_year %></td>
    </tr>
    <% } %>
</table>
<br />
<br />
<table border="1">
    <tr><th>Books In Genre</th><th>Author</th><th>Release Year</th></tr>
    <% for(var i=0; book.length > i; i++ ) { %>
    <tr>
        <td><%= book[i].book_id %><%= book[i].title %></td>
        <td><%= author[i].first_name%> <%= author[i].last_name%></td>
        <td><%= book[i].book_id %><%= book[i].release_year %></td>
    </tr>
    <% } %>
</table>
<br />
<br />
<a href="/genres/all"><< back<br></a>
<a href="/"><< home<br></a>

<%- include("../includes/footer.ejs"); %>