<%- include("../includes/header.ejs", {title:"Add New Genre"}); %>
    <h1>Add New Genre</h1>
    <form action="/genres/insert" method="get">
        Genre: <input id="genre" name="genre" type="text" />
        <br />
        <br />
        <input type="submit" onClick="window.alert('Genre added!')"/>
        <br />
        <br />
        <a href="/genres/all"><< back<br></a>
        <a href="/"><< home<br></a>
    </form>
<%- include("../includes/footer.ejs"); %>