<%- include("../includes/header.ejs", {title: "Update " + book.title}); %>

<h1>Update <%= book.title%></h1>
<form action="/books/update" method="get">
    <input type="hidden" id="book_id" name="book_id" value="<%= book.book_id %>">
    Book Title: <input id="title" name="title" type="text" value="<%= book.title%>"/>
    <br />
    <br />
    Release Year: <input id="release_year" name="release_year" type="text" value="<%= book.release_year%>"/>
    <br />
    <br />
    Synopsis: <input id="summary" name="summary" type="text" value="<%= book.summary%>"/>
    <br />
    <br />
    Authors: <br />
    <select id="author_id" name="author_id" multiple="multiple">
        <% for(var i=0; author.length > i; i++ ) {
            var selected = "";
            if(author[i].book_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= author[i].author_id %>" <%= selected %> ><%= author[i].last_name%>, <%= author[i].first_name%></option>
        <% } %>
    </select>
    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#author_id').multiselect();
        });
    </script>
    <br />
    <br />
    Genres: <br />
    <select id="genre_id" name="genre_id" multiple="multiple">
        <% for(var i=0; genre.length > i; i++ ) {
            var selected = "";
            if(genre[i].book_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= genre[i].genre_id %>" <%= selected %> ><%= genre[i].genre%></option>
        <% } %>
    </select>
    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#genre_id').multiselect();
        });
    </script>
    <br />
    <br />
    Movies: <br />
    <select id="movie_id" name="movie_id" multiple="multiple">
        <% for(var i=0; movie.length > i; i++ ) {
            var selected = "";
            if(movie[i].book_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= movie[i].movie_id %>" <%= selected %> ><%= movie[i].title%></option>
        <% } %>
    </select>
    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#movie_id').multiselect();
        });
    </script>
    <br />
    <br />
    <input type="submit" onClick="window.alert('Book updated!')"/>
    <br />
    <br />
    <a href="/books/all"><< back<br></a>
    <br />
    <a href="/"><< home<br></a>

</form>

<%- include("../includes/footer.ejs"); %>

</html>