<%- include("../includes/header.ejs", {title:"Books - View All"}); %>

<h1>Books</h1>
<a href="/books/add">Add New Book</a> <br />

<br />

<table border="1">
    <tr><th>Book Title</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/books/?book_id=<%= result[i].book_id %>"><%= result[i].title %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/books/edit/?book_id=<%= result[i].book_id %>'">Edit</button>
            <form action="/books/delete/" style="display:inline;">
                <input type="hidden" name="book_id" id="book_id" value="<%= result[i].book_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<br />
<a href="/"><< home<br></a>

<%- include("../includes/footer.ejs"); %>