<%- include("../includes/header.ejs", {title:"Add New Book"}); %>
    <h1>Add New Book</h1>
    <form action="/books/insert" method="get">
        Book Title: <input id="title" name="title" type="text" />
        <br />
        <br />
        Release Year: <input id="release_year" name="release_year" type="text" />
        <br />
        <br />
        Summary: <input id="summary" name="summary" type="text" />
        <br />
        <br />
        Authors:
        <br />
        <select id="author_id" name="author_id" multiple="multiple">
            <% for(var i=0; author.length > i; i++ ) { %>
            <option value="<%= author[i].author_id %>"><%= author[i].last_name%>, <%= author[i].first_name%></option>
            <% } %>
        </select>
        <!-- Initialize the multiselect plugin: -->
        <script type="text/javascript">
            $(document).ready(function() {
                $('#author_id').multiselect();
            });
        </script>
        <br />
        <br />
        Genres:
        <br />
        <select id="genre_id" name="genre_id" multiple="multiple">
            <% for(var i=0; genre.length > i; i++ ) { %>
                <option value="<%= genre[i].genre_id %>"><%= genre[i].genre%></option>
            <% } %>
        </select>
        <!-- Initialize the multiselect plugin: -->
        <script type="text/javascript">
            $(document).ready(function() {
                $('#genre_id').multiselect();
            });
        </script>
        <br />
        <br />
        Movies:
        <br />
        <select id="movie_id" name="movie_id" multiple="multiple">
            <% for(var i=0; movie.length > i; i++ ) { %>
            <option value="<%= movie[i].movie_id %>"><%= movie[i].title%></option>
            <% } %>
        </select>
        <!-- Initialize the multiselect plugin: -->
        <script type="text/javascript">
            $(document).ready(function() {
                $('#movie_id').multiselect();
            });
        </script>


        <br />
        <input type="submit" onClick="window.alert('Book added!')"/>
        <br />
        <br />
        <a href="/books/all"><< back<br></a>
        <a href="/"><< home<br></a>

    </form>
<%- include("../includes/footer.ejs"); %>