<%- include("../includes/header.ejs", {title:"Books - " + result[0].title}); %>
    <h1>Book</h1>
    <ul>
        <li>Book Title: <%= result[0].title %></li>
        <br />
        <li>Release Year: <%= result[0].release_year %></li>
        <br />
        <li>Synopsis: <%= result[0].summary %></li>
        <br />
        <li>Author(s):
            <ul>
                <% for(var i=0; author.length > i; i++ ) { %>
                <li><%= author[i].first_name %> <%= author[i].last_name %></li>
                <% } %>
            </ul>
        </li>
        <br />
        <li>Genre(s):
            <ul>
                <% for(var i=0; genre.length > i; i++ ) { %>
                    <li><%= genre[i].genre %></li>
                <% } %>
            </ul>
        </li>
        <br />
        <li>Movie(s) Based on this Book:
            <ul>
                <% for(var i=0; movie.length > i; i++ ) { %>
                <li><%= movie[i].title %></li>
                <% } %>
            </ul>
        </li>
    </ul>

<a href="/books/all"><< back</a>
<br />
<a href="/"><< home<br></a>

<%- include("../includes/footer.ejs"); %>