<%- include("../includes/header.ejs", {title: "Update " + author.last_name}); %>

<h1>Update <%= author.first_name%> <%= author.last_name%></h1>
<form action="/author/update" method="get">
    <input type="hidden" id="author_id" name="author_id" value="<%= author.author_id %>">
    First Name: <input id="first_name" name="first_name" type="text" value="<%= author.first_name%>"/>
    <br />
    <br />
    Last Name: <input id="last_name" name="last_name" type="text" value="<%= author.last_name%>"/>
    <br />
    <br />
    Biography: <input id="biography" name="biography" type="text" value="<%= author.biography%>"/>
    <br />
    <br />
    Book(s): <br />
    <select id="book_id" name="book_id" multiple="multiple">
        <% for(var i=0; book.length > i; i++ ) {
            var selected = "";
            if(book[i].author_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= book[i].book_id %>" <%= selected %> ><%= book[i].title%></option>
        <% } %>
    </select>
    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#book_id').multiselect();
        });
    </script>
    <br />
    <br />
    <input type="submit" onClick="window.alert('Author updated!')"/>
    <br />
    <br />
    <a href="/author/all"><< back<br></a>
    <a href="/"><< home<br></a>

</form>

<%- include("../includes/footer.ejs"); %>

</html>