<%- include("../includes/header.ejs", {title:"Author - " + result[0].last_name}); %>
    <h1>Author</h1>
    <ul>
        <li>Name: <%= result[0].first_name %> <%= result[0].last_name %></li>
        <br />
        <li>Biography: <%= result[0].biography %></li>
        <br />
        <li>Book(s):
            <ul>
                <% for(var i=0; book.length > i; i++ ) { %>
                    <li><%= book[i].title %></li>
                <% } %>
            </ul>
        </li>
    </ul>

<a href="/author/all"><< back</a>
<br />
<a href="/"><< home<br></a>

<%- include("../includes/footer.ejs"); %>