<%- include("../includes/header.ejs", {title:"Authors - View All"}); %>

<h1>Authors</h1>
<a href="/author/add">Add New Author</a> <br />

<br />

<table border="1">
    <tr><th>Name</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/author/?author_id=<%= result[i].author_id %>"><%= result[i].first_name %> <%= result[i].last_name %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/author/edit/?author_id=<%= result[i].author_id %>'">Edit</button>
            <form action="/author/delete/" style="display:inline;">
                <input type="hidden" name="author_id" id="author_id" value="<%= result[i].author_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<br />
<a href="/"><< home<br></a>

<%- include("../includes/footer.ejs"); %>