<%- include("../includes/header.ejs", {title:"Add New Author"}); %>
    <h1>Add New Author</h1>
    <form action="/author/insert" method="get">
        First Name: <input id="first_name" name="first_name" type="text" />
        <br />
        <br />
        Last Name: <input id="last_name" name="last_name" type="text" />
        <br />
        <br />
        Biography: <input id="biography" name="biography" type="text" />
        <br />
        <br />
        Books:
        <br />
        <select id="book_id" name="book_id" multiple="multiple">
            <% for(var i=0; book.length > i; i++ ) { %>
            <option value="<%= book[i].book_id %>"><%= book[i].title%></option>
            <% } %>
        </select>
        <!-- Initialize the multiselect plugin: -->
        <script type="text/javascript">
            $(document).ready(function() {
                $('#book_id').multiselect();
            });
        </script>

        <br />
        <input type="submit" onClick="window.alert('Author added!')" />
        <br />
        <br />
        <a href="/author/all"><< back<br></a>
        <a href="/"><< home<br></a>

    </form>
<%- include("../includes/footer.ejs"); %>