<%- include("./includes/header.ejs", {title: title}); %>

<h1>About "The Book was Better"</h1>
<p>Welcome to <%= title %>: here movie lovers discover the joy of reading!</p>

<h3>Database Totals</h3>
<table border="1">
    <tr><th>Books in System</th><th>Authors in System</th><th>Movies in System</th></tr>
    <tr>
        <td><%= result[0].b %></td>
        <td><%= result[0].a%></td>
        <td><%= result[0].m%></td>
    </tr>
</table>
<br />
<br />

This website was developed specifically for the Santa Rosa City School District, to promote reading in grades k-12.
The primary purpose is to shift the perception of reading from academia to entertainment. To accomplish this, the
database holds books and movies, with the restriction that movies can only be stored if they have been adapted from book
to big screen. Students can then find books by 1) looking through the books themselves, 2) by genre, 3) by author, or
4) by the movies that were based off of them.
<br />
<br />
Tips to contibute to this database:
<br />
<li>Genres can added without restriction. </li>
<li>Similarly, authors can be added without having any books attributed to them present in the database. </li>
<li>To add a book, the book's author must first be present in the database. A book must also have at least one
genre present in the database.</li>
<li>To add a movie, the book it was based on must first be present in the database, as well as at least one genre.</li>
<li>All items can be edited for errors.</li>
<br />
<br />
To better understand the structure of the database, see the E.R. Diagram and Relational Schema below.
<br />
<h3>E.R. Diagram</h3>
<br />
<br />
<img src="/images/ER_diagram.jpg" width="45%" height="45%"/>
<br />
<h3>Relational Schema</h3>
<br />
<img src="/images/relational_schema.jpg" width="35%" height="35%"/>
<br />
<br />
<a href="/"><< home<br></a>
<br />
<br />
<%- include("./includes/footer.ejs"); %>