<%- include("./includes/header.ejs", {title: title}); %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %>: here movie lovers discover the joy of reading!</p>

    <a href="/movies/all">Search Movie - View All<br></a>
    <a href="/books/all">Search Book - View All<br></a>
    <a href="/genres/all">Search Genre - View All<br></a>
    <a href="/author/all">Search Author - View All<br></a>

    <a href="about">About Us</a>

    <br />

<%- include("./includes/footer.ejs"); %>
