<%- include("../includes/header.ejs", {title: "Update " + movie.title}); %>

<h1>Update <%= movie.title%></h1>
<form action="/movies/update" method="get">
    <input type="hidden" id="movie_id" name="movie_id" value="<%= movie.movie_id %>">
    Movie Title: <input id="title" name="title" type="text" value="<%= movie.title%>"/>
    <br />
    <br />
    Release Year: <input id="release_year" name="release_year" type="text" value="<%= movie.release_year%>"/>
    <br />
    <br />
    Synopsis: <input id="summary" name="summary" type="text" value="<%= movie.summary%>"/>
    <br />
    <br />
    Genres: <br />
    <select id="genre_id" name="genre_id" multiple="multiple">
        <% for(var i=0; genre.length > i; i++ ) {
            var selected = "";
            if(genre[i].movie_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= genre[i].genre_id %>" <%= selected %> ><%= genre[i].genre%></option>
        <% } %>
    </select>
    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#genre_id').multiselect();
        });
    </script>
    <br />
    <br />
    Books: <br />
    <select id="book_id" name="book_id" multiple="multiple">
        <% for(var i=0; book.length > i; i++ ) {
            var selected = "";
            if(book[i].movie_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= book[i].book_id %>" <%= selected %> ><%= book[i].title%></option>
        <% } %>
    </select>
    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#book_id').multiselect();
        });
    </script>
    <br />
    <br />
    <input type="submit" onClick="window.alert('Movie updated!')"/>
    <br />
    <br />
    <a href="/movies/all"><< back<br></a>
    <a href="/"><< home<br></a>

</form>

<%- include("../includes/footer.ejs"); %>

</html>