<%- include("../includes/header.ejs", {title:"Movies - View All"}); %>

<h1>Movies</h1>
<a href="/movies/add">Add New Movie</a> <br />

<br />

<table border="1">
    <tr><th>Movie Title</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/movies/?movie_id=<%= result[i].movie_id %>"><%= result[i].title %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/movies/edit/?movie_id=<%= result[i].movie_id %>'">Edit</button>
            <form action="/movies/delete/" style="display:inline;">
                <input type="hidden" name="movie_id" id="movie_id" value="<%= result[i].movie_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<br />
<a href="/"><< home<br></a>

<%- include("../includes/footer.ejs"); %>