<%- include("../includes/header.ejs", {title:"Add New Movie"}); %>
    <h1>Add New Movie</h1>
    <form action="/movies/insert" method="get">
        Movie Title: <input id="title" name="title" type="text" />
        <br />
        <br />
        Release Year: <input id="release_year" name="release_year" type="text" />
        <br />
        <br />
        Summary: <input id="summary" name="summary" type="text" />
        <br />
        <br />
        Genres:
        <br />
        <select id="genre_id" name="genre_id" multiple="multiple">
            <% for(var i=0; genre.length > i; i++ ) { %>
                <option value="<%= genre[i].genre_id %>"><%= genre[i].genre%></option>
            <% } %>
        </select>
        <!-- Initialize the multiselect plugin: -->
        <script type="text/javascript">
            $(document).ready(function() {
                $('#genre_id').multiselect();
            });
        </script>
        <br />
        <br />
        Books:
        <br />
        <select id="book_id" name="book_id" multiple="multiple">
            <% for(var i=0; book.length > i; i++ ) { %>
            <option value="<%= book[i].book_id %>"><%= book[i].title%></option>
            <% } %>
        </select>
        <!-- Initialize the multiselect plugin: -->
        <script type="text/javascript">
            $(document).ready(function() {
                $('#book_id').multiselect();
            });
        </script>


        <br />
        <input type="submit" onClick="window.alert('Movie added!')"/>
        <br />
        <br />
        <a href="/movies/all"><< back<br></a>
        <a href="/"><< home<br></a>

    </form>
<%- include("../includes/footer.ejs"); %>