<%- include("../includes/header.ejs", {title:"Movies - " + result[0].title}); %>
    <h1>Movie</h1>
    <ul>
        <li>Movie Title: <%= result[0].title %></li>
        <br />
        <li>Release Year: <%= result[0].release_year %></li>
        <br />
        <li>Synopsis: <%= result[0].summary %></li>
        <br />
        <li>Genre(s):
            <ul>
                <% for(var i=0; genre.length > i; i++ ) { %>
                    <li><%= genre[i].genre %></li>
                <% } %>
            </ul>
        </li>
        <br />
        <li>Based on the following Book(s):
            <ul>
                <% for(var i=0; book.length > i; i++ ) { %>
                <li>"<%= book[i].title %>" by <%= author[i].first_name%> <%= author[i].last_name%> </li>
                <% } %>
            </ul>
        </li>
    </ul>

<a href="/movies/all"><< back</a>
<br />
<a href="/"><< home<br></a>

<%- include("../includes/footer.ejs"); %>